@model List<ProjectCinema.Data.Models.Button>
@{
    ViewData["Title"] = "GetSaloon2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
    int sayac = 0;
    int satir = ViewBag.c1;
    int sutun = ViewBag.c2;
    <div class="response"></div>
    @for (int i = 0; i < satir; i++)
    {
        @for (int j = 1; j < sutun; j++)
        {
            <button type="submit" class="addSaloon" name="mine" value=@sayac>
                @if (Model[sayac].State == true)
                {
                    <img src="~/Images/on.png" />
                }
                else
                {
                    <img src="~/Images/off.png" />
                }
            </button>
            sayac++;
        }
        <br />
    }
}


