
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Photo grid -->
<div class="w3-row">
    <div class="w3-third">
        <img src="~/web/image/Rampage.jpg" style="width:100%" onclick="onClick(this)" alt="İnsanları kendinden uzak tutan bir Primatolog olan Davis Okoye, doğumundan beri bakımıyla ilgilendiği oldukça zeki bir goril ile arasında inanılmaz bir bağ kurar.
                     Oldukça nazik olan maymun, uygulanan yanlış bir deney sonucu korkunç bir canavara dönüşür. Konu ile ilgili araştırma yapıldıkça, benzer şekilde dönüştürülmüş bir çok yırtıcı hayvan keşfedilir. Davis, küresel bir afetin oluşmasını engellemek,
                     genetiği değiştirilmiş hayvanları kurtarmak için, gözden düşmüş bir genetik mühendisi ile birlikte harekete geçer. Aynı isimli bir video oyunundan uyarlanan filmin yönetmen koltuğunda Brad Peyton oturuyor">
        <img src="~/web/image/EscapeRoom.jpg" style="width:100%" onclick="onClick(this)" alt="What a beautiful scenery this sunset">
        <img src="~/web/image/KingsMan.jpg" style="width:100%" onclick="onClick(this)" alt="The Beach. Me. Alone. Beautiful">
        <img src="~/web/image/Titanic.jpg" style="width:100%" onclick="onClick(this)" alt="The Beach. Me. Alone. Beautiful">

    </div>

    <div class="w3-third">
        <img src="~/web/image/Arrival.jpg" style="width:100%" onclick="onClick(this)" alt="Quiet day at the beach. Cold, but beautiful">
        <img src="~/web/image/Dunkirk.jpg" style="width:100%" onclick="onClick(this)" alt="Waiting for the bus in the desert">
        <img src="~/web/image/LittleWomen.jpg" style="width:100%" onclick="onClick(this)" alt="Nature again.. At its finest!">
        <img src="~/web/image/TombRaider.jpg" style="width:100%" onclick="onClick(this)" alt="The Beach. Me. Alone. Beautiful">
    </div>
    <div class="w3-third">
        <img src="~/web/image/Beauty.jpg" style="width:100%" onclick="onClick(this)" alt="Canoeing again">
        <img src="~/web/image/Blade.jpg" style="width:100%" onclick="onClick(this)" alt="A girl, and a train passing">
        <img src="~/web/image/Hun.jpg" style="width:100%" onclick="onClick(this)" alt="What a beautiful day!">
        <img src="~/web/image/Venom.jpg" style="width:100%" onclick="onClick(this)" alt="The Beach. Me. Alone. Beautiful">
    </div>
</div>
<!-- Pagination -->
<div class="w3-center w3-padding-32">
    <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
</div>
