
@{
    ViewData["Title"] = "Salon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Photo grid -->
<div class="w3-row">
    <div class="w3-third">
        <img src="~/web/image/Salon1.jpg" style="width:100%" onclick="onClick(this)" alt="Salon1"> 
        <img src="~/web/image/Salon2.jpg" style="width:100%" onclick="onClick(this)" alt="Salon2">
        <img src="~/web/image/Salon3.jpg" style="width:100%" onclick="onClick(this)" alt="Salon3">

    </div>

    <div class="w3-third">
        <img src="~/web/image/Salon4.jpg" style="width:100%" onclick="onClick(this)" alt="Salon4">
        <img src="~/web/image/Salon5.jpg" style="width:100%" onclick="onClick(this)" alt="Salon5">
        <img src="~/web/image/Salon6.jpg" style="width:100%" onclick="onClick(this)" alt="Salon6">
    </div>
    <div class="w3-third">
        <img src="~/web/image/Salon7.jpg" style="width:100%" onclick="onClick(this)" alt="Salon7">
        <img src="~/web/image/Salon8.jpg" style="width:100%" onclick="onClick(this)" alt="Salon8">
        <img src="~/web/image/Salon9.jpg" style="width:100%" onclick="onClick(this)" alt="Salon9">
    </div>
</div>


